
<!DOCTYPE html>
<html lang="en">
<head>
<script>
  function chatPage() {
    io.socket.post('chat-controller/chat',
      function(resData, jwres) {
        console.log(resData);        
      });
  }
</script>
<script src='../js/home.js'></script>
<style type='text/css'>
  .banner-text {
    color:#ffffff;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-weight: 300;
    text-align: center;
  }

  .main-banner {
    background-color:black;
    padding:300px;
    padding-left:0px;
    padding-right:0px;
    margin-top: -220px;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .black-row {
    background-color:black;
    background: rgba(0,0,0,0.3);
    padding:20px;
    padding-top:10px;
    margin-right:0px;
    margin-top:-60px;
    width: 100%;
  }

  .center-text {
    color:white;
    text-align:center;
  }
  
</style>
  <title>StarterHacks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style='background-color: #311e1d'>

<nav class="navbar navbar-inverse">
<div class="container-fluid" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style='color:white;margin-left:20px;margin-bottom: 0px;' href="#"><div style='margin-top:-5px;'><img style='width:40px;height:40px;margin-left:0px;margin-top:-5px;display:inline;padding:4px;' src='../images/chatbot-logo.png'><strong>Warmth</strong></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="chat">Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>
<div>
<img src='../images/chatbot-logo.png' style='width:200px;height:200px;display:block;margin:auto; margin-top:0px;'/>
<div class='main-banner'>
  <div class='black-row'>
    <h2 align='center' class='banner-text' style='font-size: 36px'>Have something on your mind today?</h2>
    <h3 align='center' class='banner-text' style='color:#B1B1B1;'>Come chat with our ChatBot
    <a class='scrollTop'>
      <span data class="glyphicon glyphicon-question-sign"></span>
    </a>
    </h3>
    <p class='banner-text' style='color:#B1B1B1;'>ChatBot is a free 24/7 service for <strong>you</strong>.</p>
    <p class='banner-text' style='color:#B1B1B1;margin-top:-10px;'>Everything you say on ChatBot is confidential, judge free and your identity is anonymous.</p>
  </div>
<div style='text-align: center;margin:10px;'>
<a>
<button class='btn btn-primary btn-lg' style='text-align:center;' onclick="chatPage()">
  Start the Conversation
</button>
</a>
</div>
</div>
</div>
<div class='second'>
  <div class='well' style='background-color:#4A2F39;border:none;margin-top:0px;'>
    <div class='page-header'>
      <h1 class='banner-text'>
      Find your inner peace today.
      </h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style='background-color:#4A2F39;border:none;'>
          <img style='width:150px;height:150px' src='../images/question-mark2.png'/>
            <div class="caption">
              <h3 class='center-text'>Have questions?</h3>
              <p class='center-text'>ChatBot can provide you with the answers. Jamie will try to assist you with an inquiries you have.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style='background-color:#4A2F39;border:none;'>
          <img style='width:150px;height:150px' src='../images/information2.png'/>
            <div class="caption">
              <h3 class='center-text'>Want information?</h3>
              <p class='center-text'>ChatBot provides helpful information and can suggest proffessionals, help-lines and websites.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style='background-color:#4A2F39;border:none;'>
          <img style='width:170px;height:170px' src='../images/message2.1.png'/>
            <div class="caption" style='margin-top:-20px;'>
              <h3 class='center-text'>Join the conversation.</h3>
              <p class='center-text'>Start interacting with Jamie and find the answers you need. Joining the conversation is accessible and as easy as clicking a button.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class='banner-text' style='text-align: center;color:white;'>
    Here are some helpful links:
  </h2>
  <div class='well' style='margin-left:200px;margin-right:200px;border:none;background-color:#4A2F39'>
  <ul>
    <li><!--first link-->
      <a href='https://www.kidshelpphone.ca/'>
        <h4>
          Kids Help Phone
        </h4>
      </a>
    </li>
    <li><!--secondlink-->
      <a href='http://suicideprevention.ca/'>
        <h4>
          Canadian Association for Suicide Prevention
        </h4>
      </a>
    </li>
   <li><!--third link-->
      <a href='https://suicidepreventionlifeline.org/'>
        <h4>
          National Suicide Provention Hotline
        </h4>
      </a>
    </li>
    <li><!--fourth link-->
      <a href='http://www.crisistextline.org/'>
      <h4>
          Crisis Text Line
      </h4>
      </a>
    </li>
  </ul>
  </div>
</body>
</html>